* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Palanquin', sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 50px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-text {
    display: flex;
    flex-direction: column;
}